.bills {
    .bills__header{
        display: flex;
        justify-content: center;
        align-items: baseline;
        .bills__add{
            color: #2874f0;
            cursor: pointer;
        }
    }
  .bills__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .bills__title-column {
      display: flex;
      justify-content: center;
      font-weight: 500;
      padding: 24px 0;
      div {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
      }
    }
    .bills__list--rows {
      display: flex;
      flex-direction: column;
      align-items: center;
      .bills__list--row {
        display: flex;
        justify-content: center;
        padding: 24px 0;
        border-bottom: solid 1px #e0e0e0;
        &:first-child{
            border-top: solid 1px #e0e0e0;
        }
        .bills__btn-group{
            .btn{
                &:first-child{
                    margin-right: 8px;
                }
              
            }    
        }
        div {
            width: 200px;
            display: flex;
            flex-wrap: wrap;
          }
      }
    }
  }
}
